@media only screen and (max-width: 545px){

	section#home 									{
		.inner 										{
			.content 								{ 
				h1 									{ margin-bottom: 35px; }
			}
		}

	}
}


@media only screen and (max-width: 991px){

	$font_size_lg: 40px;
	$font_size_md: 30px;
	$font_size_sm: 15px;

	
	.timeline-content 								{ text-align: left;}
	section 										{ 
		h2 											{ font-size: $font_size_lg; 
			&::before 								{ content: ""; border: 5px #6c183a solid; position: absolute; width: $font_size_lg ; top: -12px;  }
		}
		p 											{ font-size: $font_size_sm; line-height: $font_size_sm + 5; }

	}

	section#home 									{
		.inner 										{
			.content 								{
				img 								{ width: 200px; }
				h1 									{ font-size: $font_size_md;  }
			}
		}

	}
	section#about 									{ height: auto; }

	section#services 								{  
		.block										{ 
			h3  									{ font-size: $font_size_sm + 5; }
		}
	}

	section#contact 								{  
		.block 										{ font-size: ($font_size_lg / 2) + 5 ;
			i.icon 									{ font-size: $font_size_lg; margin-bottom: 10px; }
			span 									{ font-size: $font_size_sm; }
		}	
	}

}


@media only screen and (min-width: 992px) and (max-width: 1200px) { 
	
	$font_size_lg: 50px;
	$font_size_md: 40px;
	$font_size_sm: 18px;

	.timeline-content 								{ text-align: left;}
	section 										{ 
		h2 											{ font-size: $font_size_lg; 
			&::before 								{ content: ""; border: 5px #6c183a solid; position: absolute; width: $font_size_lg ; top: -12px;  }
		}
		p 											{ font-size: $font_size_sm; line-height: $font_size_sm + 5; }

	}

	section#home 									{
		.inner 										{
			.content 								{
				img 								{ width: 250px; }
				h1 									{ font-size: $font_size_md; }
			}
		}

	}
	section#about 									{ height: auto; }

	section#services 								{  
		.block										{ 
			h3  									{ font-size: $font_size_sm + 5; }
		}
	}

	section#contact 								{  
		.block 										{ font-size: ($font_size_lg / 2) + 5 ;
			i.icon 									{ font-size: $font_size_lg; margin-bottom: 10px; }
			span 									{ font-size: $font_size_sm; }
		}	
	}
}